@model Blog.Models.BlogContentModel

@{
    ViewBag.Title = Model.title;
    Layout = "~/Views/Shared/_BackAdmin.cshtml";
}
<div id="global">
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-body">
                <div>
                    @Html.Raw(@Model.content)
                </div>
            </div>
        </div>
    </div>
</div>

